In [10]:
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns


##func = pd.read_excel("CadastroFuncionarios.csv", sheet_name='CadastroFuncionarios', engine = )


exp_franca = pd.read_csv('exportacoes_franca.csv')

display(exp_franca)

,Year,Month,Country,City,SH4 Code,SH4 Description,SH2 Code,SH2 Description,Economic Block,US$ FOB,Net Weight
0,2016,1,France,Águas Mornas - SC,303,"Fish, frozen, excluding fish fillets and other...",3,"Fish and crustaceans, molluscs and other aquat...",Europe,79360,14150
1,2016,1,France,Águas Mornas - SC,303,"Fish, frozen, excluding fish fillets and other...",3,"Fish and crustaceans, molluscs and other aquat...",European Union (EU),79360,14150
2,2016,1,France,Águas Mornas - SC,304,Fish fillets and other fish meat (whether or n...,3,"Fish and crustaceans, molluscs and other aquat...",Europe,69412,9385
3,2016,1,France,Águas Mornas - SC,304,Fish fillets and other fish meat (whether or n...,3,"Fish and crustaceans, molluscs and other aquat...",European Union (EU),69412,9385
4,2016,1,France,Alfenas - MG,901,"Coffee, whether or not roasted or decaffeinate...",9,"Coffee, tea, maté and spices",Europe,180914,57600
...,...,...,...,...,...,...,...,...,...,...,...
142355,2020,12,France,Vinhedo - SP,8424,Mechanical appliances (whether or not hand-ope...,84,"Nuclear reactors, boilers, machinery and mecha...",European Union (EU),2316,4
142356,2020,12,France,Vitória de Santo Antão - PE,714,"Manioc, arrowroot, salep, Jerusalem artichokes...",7,Edible vegetables and certain roots and tubers,Europe,27060,26400
142357,2020,12,France,Vitória de Santo Antão - PE,714,"Manioc, arrowroot, salep, Jerusalem artichokes...",7,Edible vegetables and certain roots and tubers,European Union (EU),27060,26400
142358,2020,12,France,Xapuri - AC,4409,Wood (including strips and friezes for parquet...,44,Wood and articles of wood; wood charcoal,Europe,31111,23045
142359,2020,12,France,Xapuri - AC,4409,Wood (including strips and friezes for parquet...,44,Wood and articles of wood; wood charcoal,European Union (EU),31111,23045


Evolução da França ao longo do tempo

In [61]:
desempenho_df = exp_franca[['Year','US$ FOB']]
desempenho_df = desempenho_df.groupby("Year").sum()
desempenho_df = desempenho_df[['US$ FOB']]


display(desempenho_df)


#obs: Temos que utilizar no eixo X e Y o mesmo nome que está nas colunas!
#graf_linha = sns.lineplot(data = desempenho_df, x = "Year" ,y= "US$ FOB", color = "Orange")

#graf_linha.set_title("Crescimento França")
#plt.show(graf_linha)

         US$ FOB
Year
2016  4615500082
2017  4448705456
2018  5239424416
2019  5218723612
2020  3967594810

Quais os produtos mais exportados ao longo de todo o período?

In [39]:
produto_df = exp_franca[['Year' ,'SH4 Description', 'SH2 Description', "Net Weight"]] 

produto_df = produto_df.sort_values(by=['Net Weight'], ascending=False)



qnts = produto_df[["SH4 Description", 'SH2 Description']].value_counts()



#obs: Temos que utilizar no eixo X e Y o mesmo nome que está nas colunas!
#graf_bar = sns.barplot(data = produto_df, x = "SH4 Description" ,y= "Net Weight", color = "Blue")
#graf_bar.set_title("SH4")
#plt.show(graf_bar)

display(qnts)
#plt.show(graf_bar)

SH4 Description                                                                                                                                                                                                                                                  SH2 Description
Wood (including strips and friezes for parquet flooring, not assembled) continuously shaped (tongued, grooved, rebated, chamfered, V-jointed, beaded, moulded, rounded or the like) along any of its edges, ends or faces, whether or not planed, sanded or end  Wood and articles of wood; wood charcoal                                                   2876
Parts and accessories of the motor vehicles of heading 8701 to 8705                                                                                                                                                                                              Vehicles other than railway or tramway rolling-stock, and parts and accessories thereof    2504
Screws, bolts, nuts, coach screws, screw hooks, rivets, cotters, cotter-pins, washers (including spring washers) and similar articles, of iron or steel                                                                                                          Articles of iron or steel                                                                  2112
Other articles of plastics and articles of other materials of headings 3901 to 3914                                                                                                                                                                              Plastics and articles thereof                                                              2088
Taps, cocks, valves and similar appliances for pipes, boiler shells, tanks, vats or the like, including pressure-reducing valves and thermostatically controlled valves                                                                                          Nuclear reactors, boilers, machinery and mechanical appliances; others                     2048
                                                                                                                                                                                                                                                                                                                                                            ...
Malt, whether or not roasted                                                                                                                                                                                                                                     Products of the milling industry; Malt; Starches; Inulin; Wheat gluten                        2
Man-made filament yarn (other than sewing thread), put up for retail sale                                                                                                                                                                                        Man-made filaments                                                                            2
Coin                                                                                                                                                                                                                                                             Natural or cultured pearls, precious or semi-precious stones, others                          2
Cocoa paste, whether or not defatted                                                                                                                                                                                                                             Cocoa and cocoa preparations                                                                  2
unrefined copper  and anodes cop.f/electr.refining                                                                                                                                                                                                               Copper and articles thereof                                                                   2
Name: count, Length: 935, dtype: int64

Em 2020, qual cidade mais exportou para a França?

In [70]:


cidade_df = exp_franca.loc[exp_franca["Year"] == 2020]

cidade_df = cidade_df[['Year' ,'City', "Net Weight", "US$ FOB"]].groupby("City").sum()

cidade_df = cidade_df.sort_values(by=["US$ FOB"], ascending=False)
#df.loc[['viper', 'sidewinder'], ['shield']] = 50


display(cidade_df)

                                Year  Net Weight    US$ FOB
City
Duque de Caxias - RJ         1967480   252775960  279405596
Luís Eduardo Magalhães - BA    40400   826465972  265328132
Ponta Grossa - PR              40400   568662082  187777016
São José dos Campos - SP     2452280      253854  172939276
Rio de Janeiro - RJ          1910920   303215526  122522214
...                              ...         ...        ...
Não-Me-Toque - RS               4040           0         42
Cubatão - SP                    4040         100         40
Holambra - SP                  12120           2         10
São Sebastião do Caí - RS       8080          72          6
Quatro Pontes - PR              4040          84          0

[648 rows x 3 columns]

Quais os produtos mais exportados que as 2 maiores cidade exportam?

In [75]:
cidade = cidade_df.index[0]

cidade_df = exp_franca.loc[exp_franca["City"] == cidade]

prod_cidade = cidade_df[['SH2 Description', "US$ FOB"]].groupby("SH2 Description").sum()
prod_cidade = prod_cidade.sort_values(by=["US$ FOB"], ascending=False)

#prod_cidade = 


display(prod_cidade)

IndexError: index 0 is out of bounds for axis 0 with size 0